<div class="row">
	<div class="col-md-6 m-auto">
			<form action="/sort">
				<div class="form-group">
					<label for="sort">類別 :</label>
					<select id="sort" class="form-control" name="category" onchange=";this.form.submit();">
	                <option value="not-change">請選擇</option>
	                <option value="1" {{#is sortInput 家居物業 }} selected {{/is}}>家居物業</option>
	                <option value="2" {{#is sortInput 交通出行 }} selected {{/is}}>交通出行</option>
	                <option value="3" {{#is sortInput 休閒娛樂 }} selected {{/is}}>休閒娛樂</option>
	                <option value="4" {{#is sortInput 餐飲食品 }} selected {{/is}}>餐飲食品</option>
	                <option value="5" {{#is sortInput 其他 }} selected {{/is}}>其他</option>
	              </select>
				</div>	
				<div class="row">
					<div class="col-auto mr-auto">
						<p>總金額 : </p>				
					</div>	
					<div class="col-auto">
						<h2 style="color: orange;">{{this.totalAmount}}</h2>
					</div>
				</div>
				
				
			</form>
			<ul class="list-group">
				{{#each records}}
				<li class="list-group-item">
					<div class='row'>
						<div class="col-auto mr-auto">
							<i class="{{this.categoryId}}"></i>
							<h5 style="display:inline; vertical-align: middle;">
								{{this.name}}
							</h5>
							<p>{{this.date}}</p>
						</div>
						<div class="col-auto">
							<h3>{{this.amount}}</h3>	
							<a class='btn btn-success' href="./records/{{this._id}}/edit">Edit</a>
							<form action="./records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
								<button class='btn btn-danger' type="submit">Delete</button>
							</form>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
			<a href="/records/new" class="btn btn-primary btn-block">新增支出</a>
	</div>
</div>	